{% extends "encyclopedia/layout.html" %}

{% block title %}
Add New Entries
{% endblock %}

{% block body %}
        <div>
            <form action="{% url 'addnew' %}" method = "post" class="row g-3">
                <div class="col-md-6">
                {% csrf_token %}
                <label class="form-label">Title Of the Entry:</label>
                <br>
                <input type="text" placeholder="Title" class="form-control" name="title" required>
                <br>
                <label class = "form-label">Content of the Entry</label>
                <textarea id="content" name="content" placeholder="content" required class="form-control"></textarea>
                <br>
                <input type="submit" name="submit">
            </form>
        </div>
{% endblock %}